* {
	padding: 0;
	margin: 0;
	font-family: toppan-bunkyu-gothic-pr6n, serif;
	font-style: normal;
	font-weight: 400 600;
}

body {
	background-color: #d2e4bc;
	box-sizing: border-box;
}

.header {
	text-align:center;
}
